@{
    ViewData ["Title"] = "Iniciar sesion";
}

<div class="container bg-light p-4">
    
     @if( User.Identity!=null && User.Identity.IsAuthenticated)
    {
        <p>Ya iniciaste sesion, seras redirigido al inicio en unos segundos...</p>
        <script>
            setTimeout(function ()
            {
                window.location.href='@Url.Action("Index", "Home")';
            }, 3000);
        </script>
    }else
    {
        <br/>
        <h2>Iniciar sesion</h2>

        <form method="post">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input id="username" name="username" required type="text" class="form-control">
             </div>

             <div class="form-group">
                <label for="username">Contraseña</label>
                <input id="username" name="password" required type="password" class="form-control">
             </div>

             <button type="submit" class="btn btn-primary">Iniciar</button>

  
        </form>
        <br/>
        <a class="btn btn-primary mt-2" asp-action="Register">Registrarse</a>
    }

</div>