@{
    ViewData["Title"] = "Error de pago";
}

<h2>El pago del producto no pudo completarse.</h2>
<p>Intente realizarlo nuevamente.</p>
<div>
    <a asp-action="Index">Volver al carrito</a>
</div>